In [112]:
import pandas as pd
import numpy as np

In [113]:
df = pd.read_csv("node_evaluation_table.csv")  # adjust path if needed

In [114]:
df = df[df['fraud_flag'].notna()]

In [115]:
df.shape

(8000, 6)

In [116]:
df.describe()

,node_type,anomaly_score_1,anomaly_score_2,anomaly_score_3,fraud_flag
count,0.0,8000.000000,8000.000000,8.000000e+03,8000.0000
mean,NaN,0.000101,0.000078,5.125902e-05,0.0900
std,NaN,0.000004,0.000496,5.835461e-04,0.2862
min,NaN,0.000095,0.000010,3.970495e-07,0.0000
25%,NaN,0.000099,0.000023,2.562506e-06,0.0000
50%,NaN,0.000099,0.000036,4.742527e-06,0.0000
75%,NaN,0.000101,0.000054,1.066337e-05,0.0000
max,NaN,0.000164,0.021097,1.838393e-02,1.0000

In [117]:
cols = ["anomaly_score_1", "anomaly_score_2", "anomaly_score_3"]

df["anomaly_score_avg"] = df[cols].mean(axis=1)

In [118]:
df.describe()

,node_type,anomaly_score_1,anomaly_score_2,anomaly_score_3,fraud_flag,anomaly_score_avg
count,0.0,8000.000000,8000.000000,8.000000e+03,8000.0000,8000.000000
mean,NaN,0.000101,0.000078,5.125902e-05,0.0900,0.000077
std,NaN,0.000004,0.000496,5.835461e-04,0.2862,0.000350
min,NaN,0.000095,0.000010,3.970495e-07,0.0000,0.000037
25%,NaN,0.000099,0.000023,2.562506e-06,0.0000,0.000043
50%,NaN,0.000099,0.000036,4.742527e-06,0.0000,0.000048
75%,NaN,0.000101,0.000054,1.066337e-05,0.0000,0.000056
max,NaN,0.000164,0.021097,1.838393e-02,1.0000,0.013193

In [119]:
df.head()

,node_id,node_type,anomaly_score_1,anomaly_score_2,anomaly_score_3,fraud_flag,anomaly_score_avg
4,B_B000001,NaN,0.000098,0.000021,0.000001,0.0,0.000040
9,B_B000002,NaN,0.000098,0.000035,0.000001,0.0,0.000045
14,B_B000003,NaN,0.000099,0.000017,0.000004,0.0,0.000040
19,B_B000004,NaN,0.000099,0.000221,0.000006,0.0,0.000108
24,B_B000005,NaN,0.000100,0.000042,0.000003,0.0,0.000048

In [120]:
df.to_csv('eval.csv')

In [121]:
p95 = df["anomaly_score_avg"].quantile(0.90)

df_top95 = df[df["anomaly_score_avg"] >= p95]

In [122]:
df_top95.head()

,node_id,node_type,anomaly_score_1,anomaly_score_2,anomaly_score_3,fraud_flag,anomaly_score_avg
19,B_B000004,NaN,0.000099,0.000221,0.000006,0.0,0.000108
147,B_B000032,NaN,0.000097,0.021097,0.018384,1.0,0.013193
226,B_B000049,NaN,0.000102,0.000223,0.000009,0.0,0.000112
274,B_B000060,NaN,0.000099,0.000225,0.000010,1.0,0.000111
333,B_B000073,NaN,0.000098,0.000257,0.000006,0.0,0.000120

In [123]:
df_flag = df_top95[df_top95['fraud_flag'] == 1]

df_flag.shape

(252, 7)

In [124]:
p95 = df["anomaly_score_3"].quantile(0.90)

df_top95 = df[df["anomaly_score_3"] >= p95]

In [125]:
df_flag = df_top95[df_top95['fraud_flag'] == 1]

df_flag.shape

(212, 7)

In [126]:
p95 = df["anomaly_score_2"].quantile(0.90)

df_top95 = df[df["anomaly_score_2"] >= p95]

df_flag = df_top95[df_top95['fraud_flag'] == 1]

df_flag.shape

(250, 7)

In [127]:
p95 = df["anomaly_score_1"].quantile(0.90)

df_top95 = df[df["anomaly_score_1"] >= p95]

df_flag = df_top95[df_top95['fraud_flag'] == 1]

df_flag.shape

(169, 7)

In [128]:
df_flagini = df[df['fraud_flag'] == 1]

df_flagini.shape

(720, 7)

In [129]:
df_flagini

,node_id,node_type,anomaly_score_1,anomaly_score_2,anomaly_score_3,fraud_flag,anomaly_score_avg
34,B_B000007,NaN,0.000108,0.000068,0.000105,1.0,0.000094
63,B_B000013,NaN,0.000109,0.000035,0.000004,1.0,0.000049
131,B_B000028,NaN,0.000097,0.000038,0.000020,1.0,0.000052
147,B_B000032,NaN,0.000097,0.021097,0.018384,1.0,0.013193
161,B_B000035,NaN,0.000099,0.000028,0.000002,1.0,0.000043
...,...,...,...,...,...,...,...
9815,B_B007915,NaN,0.000099,0.000046,0.000007,1.0,0.000051
9818,B_B007918,NaN,0.000164,0.000456,0.002339,1.0,0.000986
9829,B_B007929,NaN,0.000098,0.000021,0.000004,1.0,0.000041
9880,B_B007980,NaN,0.000098,0.000048,0.000006,1.0,0.000051
9892,B_B007992,NaN,0.000098,0.000074,0.000019,1.0,0.000064

In [130]:
cols = ["anomaly_score_1", "anomaly_score_2", "anomaly_score_3", "anomaly_score_avg"]

# compute 95th percentile thresholds
p95 = df[cols].quantile(0.90)

# keep rows where any score is >= its p95 threshold
df_top95 = df[(df[cols] >= p95).any(axis=1)]

df_top95.shape

(1851, 7)

In [131]:
df_flag = df_top95[df_top95['fraud_flag'] == 1]

df_flag.shape

(444, 7)

In [132]:
x = pd.read_csv("data/booking_label_table.xls")  # adjust path if needed

x.shape

(8000, 3)

In [133]:
x['fraud_label'].value_counts()

fraud_label
0    7280
1     720
Name: count, dtype: int64